<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>GestionFormation</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletIdentification</display-name>
    <servlet-name>ServletIdentification</servlet-name>
    <servlet-class>fr.gtm.proxibanque.presentation.ServletIdentification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletIdentification</servlet-name>
    <url-pattern>/redirect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletCreaCons</display-name>
    <servlet-name>ServletCreaCons</servlet-name>
    <servlet-class>fr.gtm.proxibanque.presentation.ServletCreaCons</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCreaCons</servlet-name>
    <url-pattern>/redirectCrea</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletCreaClient</display-name>
    <servlet-name>ServletCreaClient</servlet-name>
    <servlet-class>fr.gtm.proxibanque.presentation.ServletCreaClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCreaClient</servlet-name>
    <url-pattern>/redirectCreaClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletLireClient</display-name>
    <servlet-name>ServletLireClient</servlet-name>
    <servlet-class>fr.gtm.proxibanque.presentation.ServletLireClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLireClient</servlet-name>
    <url-pattern>/redirectLireClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletModifClient</display-name>
    <servlet-name>ServletModifClient</servlet-name>
    <servlet-class>fr.gtm.proxibanque.presentation.ServletModifClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletModifClient</servlet-name>
    <url-pattern>/redirectModifClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletSupprClient</display-name>
    <servlet-name>ServletSupprClient</servlet-name>
    <servlet-class>fr.gtm.proxibanque.presentation.ServletSupprClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSupprClient</servlet-name>
    <url-pattern>/redirectSupprClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletCreaEpargne</display-name>
    <servlet-name>ServletCreaEpargne</servlet-name>
    <servlet-class>fr.gtm.proxibanque.presentation.ServletCreaEpargne</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCreaEpargne</servlet-name>
    <url-pattern>/redirectCompteEpargne</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletCreaCourant</display-name>
    <servlet-name>ServletCreaCourant</servlet-name>
    <servlet-class>fr.gtm.proxibanque.presentation.ServletCreaCourant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCreaCourant</servlet-name>
    <url-pattern>/redirectCompteCourant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletCompteEpargne</display-name>
    <servlet-name>ServletCompteEpargne</servlet-name>
    <servlet-class>fr.gtm.proxibanque.presentation.ServletCompteEpargne</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCompteEpargne</servlet-name>
    <url-pattern>/resultCreaEpargne</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletCompteCourant</display-name>
    <servlet-name>ServletCompteCourant</servlet-name>
    <servlet-class>fr.gtm.proxibanque.presentation.ServletCompteCourant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCompteCourant</servlet-name>
    <url-pattern>/resultCreaCourant</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>ServletListeCompte</display-name>
    <servlet-name>ServletListeCompte</servlet-name>
    <servlet-class>fr.gtm.proxibanque.presentation.ServletListeCompte</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletListeCompte</servlet-name>
    <url-pattern>/redirectListeCompte</url-pattern>
  </servlet-mapping>
</web-app>